common/lib/Yiinitializr/config/env.lock
frontend/libs/config.js
backend/runtime
console/runtime
backend/www/assets
backend/config/env.php
backend/config/env/dev.php
backend/config/env/prod.php
common/config/env.php
common/config/env/dev.php
common/config/env/prod.php
console/config/env.php
console/config/env/dev.php
console/config/env/prod.php
api/config/env.php
api/config/env/dev.php
api/config/env/prod.php
.idea/
common/lib/vendor
api/www/uploads/*
!.gitkeep