Thumbs.dbi
*.DS_Store
*.empty

#phpstorm project files
.idea

#netbeans project files
nbproject

#eclipse, zend studio, aptana or other eclipse like project files
.buildpath
.project
.settings

# sass cache files
*.sass-cache

# mac deployment helpers
switch
index

# runtime and cache directories
/api/runtime
/console/runtime

/backend/www/assets
/backend/runtime

/admin/www/assets
/admin/runtime

/frontend/www/assets
/frontend/runtime

# configuration files
/api/config/env.php
/api/config/local.php
/api/config/env/dev.php
/api/config/env/prod.php
/common/config/env.php
/common/config/local.php\
/common/config/env/dev.php
/common/config/env/prod.php
/console/config/env.php
/console/config/local.php
/console/config/env/dev.php
/console/config/env/prod.php
/backend/config/env.php
/backend/config/local.php
/backend/config/env/dev.php
/backend/config/env/prod.php
/admin/config/env.php
/admin/config/local.php
/admin/config/env/dev.php
/admin/config/env/prod.php
/frontend/config/env.php
/frontend/config/local.php
/frontend/config/env/dev.php
/frontend/config/env/prod.php

# yiinitializr env.lock file
/common/lib/Yiinitializr/config/env.lock

# composer
/common/lib/vendor
composer.lock
/frontend/www/themes/azorskaya_status_B/views/layouts/_galery_1 - копия.php
