    <div class="box-modal clearfix" id="publicationModal">
        <div class="box-modal_close arcticmodal-close"></div>
		<!--<div class="publicationNavTop clearfix">
			<div class="fl">Предыдущая</div>
			<div class="fr">Следующая</div>
		</div>-->
        <!-- Content Container -->
		<section class="publicationContent">
			<!-- Content -->
			<div class="clearfix">
				<figure class="temp">
					<img src="themes/azorskaya_status_A/files/img/pressa/all/2013_03a.jpg"/>
					<figcaption>Март 2013</figcaption>
				</figure>
				<h1>Журнал "Квартирный ответ".</h1>
				<p>Печатные издания, в которых представлены статьи о работах Инны Азорской. Ознакомиться подробнее с материалами публикаций вы можете на оффициальных сайтах журналов.</p>
			</div>
			<img src="themes/azorskaya_status_A/files/img/pressa/pressa03_2013-1.jpg"/><br /><br />
			<img src="themes/azorskaya_status_A/files/img/pressa/pressa03_2013-2.jpg"/><br /><br />
			<img src="themes/azorskaya_status_A/files/img/pressa/pressa03_2013-3.jpg"/><br /><br />
			<img src="themes/azorskaya_status_A/files/img/pressa/pressa03_2013-4.jpg"/><br /><br />
			<img src="themes/azorskaya_status_A/files/img/pressa/pressa03_2013-5.jpg"/><br /><br />
		</section>
		<!-- /Content Container -->
		<!--<div class="publicationNav clearfix">
			<div class="fl">Предыдущая</div>
			<div class="fr">Следующая</div>
		</div>-->
    </div>