/************************************************************************************
GENERAL STYLING
*************************************************************************************/
html, body {height: 100%;margin: 0;padding: 0;}
.wrapper {min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -124px auto; /* отрицательный нижний отступ на высоту футера */padding: 0;}
.footer-push, footer {height: 124px;margin: 0;padding: 0;}
footer {margin:0 auto}
section{margin-bottom:65px}
/*.wrapper, footer{width:900px;}*/

@media screen and (max-width: 1366px) {
	
}
@media screen and (max-width: 1280px) {
	
}
@media screen and (max-width: 1024px) {
	
}


/************************************************************************************
TYPOGRAFY
*************************************************************************************/
body {font: 15px Tahoma, "Geneva CY", sans-serif;color:#594742;background:#f6e9d2 url(../img/body_bg.png)}
a, a:visited {text-decoration:none;color:#d6a685}
a:hover {text-decoration:none}
a:focus, a:active {text-decoration:none}

p {padding: 5px 0 5px 0;line-height:18px;/*text-shadow: 0px 1px 0px #fff;*/color:#756c5e}

/* headings */
h1, h2, h3, h4, h5, h6 {text-shadow: 0px 1px 0px #fff;}
h1 {font:italic normal normal 23px/20px Georgia, "Century Schoolbook L", Serif;padding:13px 0;color:#6c5048}
h2 {font:italic normal normal 21px/20px Georgia, "Century Schoolbook L", Serif;padding:13px 0;color:#6c5048}
h3 {font:italic normal normal 21px/20px Georgia, "Century Schoolbook L", Serif;padding:13px 0;color:#6c5048}
h4 {}
h5 {}
h6 {}

/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0}
.clearfix {display: block;}

/************************************************************************************
STRUCTURE
*************************************************************************************/
.fl{float:left}
.fr{float:right}
.clr{clear:both}
.inl{display:inline-block}
.bold{font-weight:bold;}
.normal{font-weight:normal;}
	
