			<div class="aboutBg">
				<div class="txtBlock">
					<div class="aboutMe">
						<h2>Обо мне</h2>
                        <p>Здравствуйте!</p>
                        <p>Меня зовут Екатерина Капустина, я профессиональный детский и семейный фотограф. Провожу фотосъемки в Москве и Московской области, а также люблю путешествовать и проводить съемки в других городах.</p>
                        <p>Моими основными направлениями фотосъемки являются десткие фотосессии, портретная съемка, съемка будущих мамочек и папочек, семейные фотосессии и праздники, таинства крещения и венчания.</p>
                        <p>Я помогу Вам оставить в памяти прекрасные мгновения и сохранить их в вашем семейном фотоальбоме. Я стремлюсь показать вашу семью настоящей, для меня важно показать характер моих героев, их внутренний мир. Это важно для создания живых и эмоциональных фотографий.</p>
                        <p>Буду рада стать вашим семейным фотографом!</p>
					</div>				
				</div>
			</div>
