<div class="about clearfix">
    <div class="fl picture">
        <img alt="" src="angular/img/pixelio_logo.png"/>

        <div>
            <a class="tw" href="https://twitter.com/pixelio_ru"></a>
            <a class="vk" href="http://vk.com/pixelio"></a>
            <a class="fb" href="https://www.facebook.com/pixelio.ru"></a>
        </div>
    </div>
    <div class="fl hello">
        <h1>Кто мы?</h1>

        <p>Pixelio - группа креативных, амбициозных, молодых, но уже опытных разработчиков. Мы следуем современным
            тенденциям и используем прогрессивные технологии, уделяем максимум внимания деталям и удобству. </p>

        <h1>Мы даём</h1>

        <p>возможность тем, кто только открывает своё дело, получить успешный старт, а уже сложившемуся бизнесу новое лицо. </p>

        <div class="softBlock">
            <div class="soft ps">
                <p>Увеличит Ваши продажи.</p>

                <div></div>
            </div>
            <div class="soft fla">
                <p>Поднимет интерес к Вашей компании.</p>

                <div></div>
            </div>
        </div>
        <div class="soft code">
            <p>Будет объектом Вашей гордости.</p>

            <div></div>
        </div>
    </div>
</div>
</div>
