			<div class="txtBlock">
				<h2>Контакты</h2>
                <p><strong>Вы можете связаться со мной любым удобным для Вас способом:</strong></p>
                <ul>
                    <li>Позвонить по тел. 8-926-364-32-80</li>
                    <li>Написать на эл.почту: photomelody@mail.ru</li>
                    <li>Оставить заявку в моей группе <a href="http://vk.com/clubphotomelody">ВКонтакте</a></li>
                    <li>Написать на сайте <a href="http://www.disfo.ru/profile/KaterinaK/">Ассоциации детских и семейных фотографов</a></li>
                </ul>
			</div>

