<div class="contact clearfix">
    <div class="fl">
        <img alt="" src="angular/img/map.png" />
        <div class="mail">gleb.alborov@gmail.com</div>
        <div class="phone">+7 926 134-46-73</div>
        <div class="skype">symbiosiz</div>
    </div>
    <div class="contactDesc">
        <h1>Москва</h1>
        <p>Я нахожусь в Москве, поэтому, при желании и возможности, мы можем заключить договор на разработку дизайна.</p>
        <p>Так же, если у вас сложный проект, мы можем обсудить все детали вашего заказа при личной встрече, по предварительной договоренности.</p>
        <p>Прежде чем связаться со мной, для упрощения нашего общения, вы можете заполнить анекту на разработку сайта:</p>
        <div class="doc"><a href="/">Анкета на разработку сайта</a></div>
    </div>
</div>
