<div class="contact clearfix">
    <div class="fl">
        <img alt="" src="angular/img/map.png" />
		<div class="phone">+7 915 412 51 62</div>
        <div class="mail">hi@pixelio.ru</div>
        <div class="skype">pixelio_ru</div>
        <div class="icq">923-920</div>
    </div>
    <div class="contactDesc">
        <h1>Россия, Украина, Казахстан</h1>
        <p>Основные наши силы находятся в г.Москва, однако наши представители есть еще и в Санкт-Петербурге, Одессе и Астане.</p>
        <p>Мы предпочитаем обсуждать проект с Вами лично. Это способствует разработке качественного продукта, в котором учтены все мелочи.</p>
        <p>Свяжитесь по предоставленым левее контактам и получите грамотную консультацию.</p>
    </div>
</div>
