<div class="aboutBg">
    <div class="txtBlock">
        <div class="aboutMe">
            <h2>Услуги</h2>

            <p><strong>Пакет "Знакомство"</strong></p>
            <ul>
                <li>Фотосъемка в течение 1 часа</li>
                <li>15 лучших фотографий с ретушью в авторской обработке</li>
                <li>Запись всех фотографий с цвето и светокоррекцией на диск (от 60 штук)</li>
                <li>Мини-копии для интернета (фотографий с ретушью)</li>
            </ul>
            <p><strong>Пакет "Стандарт"</strong></p>
            <ul>
                <li>Фотосъемка в течение 2 – 2,5 часов</li>
                <li>30 фотографий с ретушью в авторской обработке</li>
                <li>Запись всех фотографий в формате jpeg (80-100шт.) на CD/DVD диск с индивидуальным оформлением.</li>
                <li>Печать лучших 10 фотографий формат 15 на 20 качество премиум</li>
                <li>Мини-копии для интернета (фотографий с ретушью)</li>
                <li>минибук, 10 разворотов</li>
            </ul>
            <p>При съемке в студии аренда выбранной студии оплачивается отдельно.</p>

        </div>
		<div>
			<h3>Уникальное предложение – Пакет “Первый год жизни”</h3>

            <p> Этот пакет включает в себя 4 фотосессии для вашей семьи, с момента рождения малыша и до момента
                исполнения ему 1 годика. Вы сами сможете выбрать удобное для Вас время съемки. Каждая наша встреча будет
                полноценной фотосессией. </p>

            <p>В подарок от меня на годик –фотокнига Премиум с фотографиями первого года жизни вашего малыша!</p>

            <p>Я очень благодарна всем моим героям, которые разрешают мне публиковать их фотографии, участвовать с
                ними в выставках и конкурсах. Для меня это очень важно, это помогает мне расти и развиваться дальше
                в профессиональном плане. Если по каким-то причинам вы не хотите публиковать свои фотографии, то
                предупредите меня об этом до фотосессии.</p>

            <p>Буду рада стать вашим семейным фотографом.</p>
		</div>
    </div>
</div>
