			<div class="aboutBg">
				<div class="txtBlock">
					<div class="aboutMe">
						<h2>Обо мне</h2>
						<p>Я - детский и семейный фотограф. Мир вокруг нас изменяется каждый день, но нежные и чистые цвета всегда останутся в моде.</p> 
						<p>Я хочу предложить Вам  не просто фотографию. Мне хочется подарить историю о счастье. <br>Счастье именно Вашей семьи!</p>
						<p>Если вам нужен фотограф на свадьбу, который снимет вас в самый счастливый день вашей жизнь, я буду рада вам помочь. Перед свадьбой мы обязательно встретимся с вами, чтобы познакомиться и обсудить образ фотосъемки.</p> 
						<p>Хороший свадебный фотограф сделает не просто снимки, а настоящий рассказ о вас, вашей любви, жизни.</p>
					</div>				
				</div>
			</div>
