<div class="about clearfix">
    <div class="fl picture">
        <img alt="" src="img/simb.png" />
        <div>
            <a class="vk" href="/"></a>
            <a class="facebook" href="/"></a>
        </div>
    </div>
    <div class="fl hello">
        <h1>Привет!</h1>
        <p>Меня зовут Глеб, и я дизайнер который не очень заморачивается по поводу рыбы в макетах, зачем писать много осмысленного текста если он один хрен не будет использован?</p>
        <h1>Что я умею?</h1>
        <p>Мой опыт в диайне составляет более пяти лет, вот в чем я работаю:</p>
        <div class="softBlock">
            <div class="soft ps">
                <p>Основной инструмент. Профессионально.</p>
                <div></div>
            </div>
            <div class="soft fla">
                <p>Флеш на уровне анимации, легкий экшн скрипт.</p>
                <div></div>
            </div>
            <div class="soft ai">
                <p>Векторная графика на уровне простых фигур.</p>
                <div></div>
            </div>
        </div>
    </div>
</div>
