<div class="about clearfix">
    <div class="fl picture">
        <img alt="" src="img/pixelio.png" />
        <div>
            <a class="vk" href="/"></a>
            <a class="facebook" href="/"></a>
        </div>
    </div>
    <div class="fl hello">
        <h1>Кто мы?</h1>
        <p>Меня зовут Глеб, и я дизайнер который не очень заморачивается по поводу рыбы в макетах, зачем писать много осмысленного текста если он один хрен не будет использован?</p>
        <h1>Что мы умеем?</h1>
        <p>Наш опыт составляет более пяти лет и мы профессионально создаём:</p>
        <div class="softBlock">
            <div class="soft ps">
                <p>Дизайн.</p>
                <div></div>
            </div>
            <div class="soft fla">
                <p>Флеш анимация и программирование.</p>
                <div></div>
            </div>
            <!--<div class="soft ai">
                <p>Векторная графика на уровне простых фигур.</p>
                <div></div>-->
            </div>
			<div class="soft code">
                <p>Программинг и вёрстка.</p>
                <div></div>
            </div>
        </div>
    </div>
</div>
