<div class="jobComments">
    <div class="viewWindow">
        <div class="fade clearfix">
            <div class="comment" ng-repeat="item in items">
                <p class="user">{{ item.author }}</p>
                <p>{{ item.text }}</p>
                <div class="num">№{{ item.id }}</div>
            </div>
        </div>
    </div>
    <span class="endPrev"><span class="prevImg" ng-click="prevPage(event)" ng-hide="isFirst"><img class="normal" src="../../img/prevImg.png" /><img class="hover" src="../../img/prevImgHover.png" /></span></span>
    <span class="endNext"><span class="nextImg" ng-click="nextPage(event)" ng-hide="isLast"><img class="normal" src="../../img/nextImg.png" /><img class="hover" src="../../img/nextImgHover.png" /></span></span>
</div>
<div class="bottomComments">
    <div class="popUp" ng-class="animate" ng-show="isOpenDialog">
        <div class="popUpInLight">
            <form name="feedbackForm" ng-submit="submitNewFeedback()">
                <div class="inputField"><div class="inLight">
                    <input type="text" maxlength="40" placeholder="Ваше имя?" ng-model="newFeedback.author" ng-required="true"/>
                </div></div>
                <div class="textArea"><div class="inLight">
                    <textarea placeholder="Текст отзыва" ng-model="newFeedback.text" ng-required="true"></textarea>
                </div></div>
                <div class="send clearfix">
                    <div class="buttonOrange">
                        <div>
                            <input type="submit" value="Оставить отзыв" ng-disabled="feedbackForm.$invalid">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="errorMessage" ng-show="feedbackForm.$invalid">Все поля надо заполнить.</div>
            </form>
        </div>
    </div>
    <em class="green open" ng-hide="isOpenDialog"><a class="green" href="#" ng-click="switchDialog($event)">Оставить отзыв</a></em>
    <em class="green close" ng-show="isOpenDialog"><a class="green" href="#" ng-click="switchDialog($event)">Отмена</a></em>
</div>
