			<div class="job">					
				<div class="fade">
					<a title="" href="portfolio.html"><img alt="" src="angular/img/job_1.jpg" /></a>
				</div>
				<span class="endPrev"><span class="prevImg" ng-click="prevPage(event)" ng-hide="isFirst"></span></span>
				<span class="endNext"><span class="nextImg" ng-click="nextPage(event)" ng-hide="isLast"></span></span>
			</div>
			<div class="txtBlock clearfix">
				<div class="left fl">
					<h2><img src="angular/img/face.png" />Кто я?</h2>
					<p>
						Я - детский и семейный фотограф. Мир вокруг нас изменяется каждый день, но нежные и чистые цвета всегда останутся в моде. 
					</p>
					<p>
						Я хочу предложить Вам  не просто фотографию. Мне хочется подарить историю о счастье. Счастье именно Вашей семьи!
					</p>
				</div>
				<div class="right fl">
					<h2><img src="angular/img/photo.png" />Что я фотографирую?</h2>
					<p>
						<span class="mark">Семейная фотосессия</span> - это фотоистория, посвященная Вашей семье. О том, что делает Вашу семью уникальной и неповторимой.  
					</p>
					<p>
						<span class="mark">Фотосессия Беременности</span> - это история о самых нежных моментах Вашего ожидания.
					</p>
					<p>
						<span class="mark">Детские фотосессии</span> - это фотоистории для Ваших детей. У Вас дома, в студии, или на прогулке - на Ваш выбор. Главный герой, конечно же, Ваш малыш!
					</p>
				</div>
			</div>