<!--<div class="jobTumb">
    <div class="viewWindow">
        <div class="fade clearfix" px-animate-show="visible">
            <a title="{{ work.title }}" href="#/work/{{ work.id }}" ng-repeat="work in works">
                <img alt="{{ work.title }}" ng-src="{{ work.face }}" px-loader="angular/img/loader.gif" />
            </a>
        </div>
    </div>
    <span class="endPrev"><span class="prevImg" ng-click="prevPage(event)" ng-hide="isFirst"><img class="normal" src="angular/img/prevImg.png" /><img class="hover" src="angular/img/prevImgHover.png" /></span></span>
    <span class="endNext"><span class="nextImg" ng-click="nextPage(event)" ng-hide="isLast"><img class="normal" src="angular/img/nextImg.png" /><img class="hover" src="angular/img/nextImgHover.png" /></span></span>
</div>-->

			<div class="jobTumbs">	
				<img src="angular/img/empty_category.png" ng-hide="works" />
				<div class="jobItems clearfix">
					<div class="fade">
						<a title="{{ work.title }}" href="#/work/{{ work.id }}" ng-repeat="work in works">
							<div class="centered">
								<img alt="{{ work.title }}" ng-src="{{ work.face }}" px-loader="angular/img/loader.gif" />
							</div>
						</a>
					</div>
				</div>
				<span class="endPrev"><span class="prevImg" ng-click="prevPage(event)" ng-hide="isFirst"></span></span>
				<span class="endNext"><span class="nextImg" ng-click="nextPage(event)" ng-hide="isLast"></span></span>
			</div>
			<div class="jobMenu">
                <ul>
                    <li><a ng-class="{true: 'active', false: ''}[currentTag === 0]" href="#/works">Всё</a></li>
                    <li ng-repeat="tag in tags">
                        <a ng-class="{true: 'active', false: ''}[tag.id==currentTag]" href="#/works/{{ tag.id }}">{{ tag.title }}</a>
                    </li>
				</ul>
			</div>
