body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.myBlock{margin:10px 0;padding:0 15px 15px 15px;border:1px solid #EEE;height:155px;}
.myBlock:hover{background:#F5F5F5}
.mylead{
  display: block;
  float: left;
  padding: 10px 20px 10px;
  font-size: 20px;
  font-weight: 200;
  color: #EEE;
}
/* ВОРОНКА */
.funelContainer{position:relative;height:270px;width:400px;margin:0 auto;}
.funelBg {position:absolute;top:0;left:0;border-top: 280px solid transparent;border-left: 150px solid #fff;border-right: 150px solid #fff;height: 0;width: 100px;}
.funel1 div, .funel2 div, .funel3 div, .funel4 div{display: table-cell;text-align: center;vertical-align: middle;width:400px;}
.funel1{background:#058DC7;color:#fff;}
.funel2{background:#50B432;color:#fff;}
.funel3{background:#1aadce;color:#fff;}
.funel4{background:#910000;color:#fff;}

.filter-container select{width:100%}
.filter-container input{width:92%}














