
<!-- Описание работы -->
<div class="jobDescription">
    <div class="jobTime">11 март 2012</div>
    <h1>Super Auto Rent</h1>
    <p>Аренда элитных автомобилей, продажа автотехники, доменстрация возможностей макета. Текст в две строчки, не больше, ведь никто не читает абзацы. ;)</p>
</div>

<!-- Показ элементов работы -->
<div class="jobImg">
    <div class="imgBox">
        <div class="fade clearfix">
            <a title="Открыть в новой вкладке?" href="/">
                <img alt="" src="upload/sites/site_1/job_1.jpg" />
                <p><span>Открыть в новой вкладке?</span></p>
                <p><span>Открыть в новой вкладке?</span></p>
            </a>
        </div>
        <div class="fade clearfix" style="display:none">
            <a title="Открыть в новой вкладке?" href="/">
                <img alt="" src="upload/sites/site_1/job_3.jpg" />
                <p><span>Открыть в новой вкладке?</span></p>
                <p><span>Открыть в новой вкладке?</span></p>
            </a>
        </div>
        <div class="fade clearfix" style="display:none">
            <a title="Открыть в новой вкладке?" href="/">
                <img alt="" src="upload/sites/site_1/job_2.jpg" />
                <p><span>Открыть в новой вкладке?</span></p>
                <p><span>Открыть в новой вкладке?</span></p>
            </a>
        </div>
        <div class="fade clearfix" style="display:none">
            <a title="Открыть в новой вкладке?" href="/">
                <img alt="" src="upload/sites/site_1/job_4.jpg" />
                <p><span>Открыть в новой вкладке?</span></p>
                <p><span>Открыть в новой вкладке?</span></p>
            </a>
        </div>
        <span class="endPrev"><span class="prevImg"></span></span>
        <span class="endNext"><span class="nextImg"></span></span>
    </div>
</div>

<!-- Превьюшки элементов работы -->
<div class="jobTumb clearfix">
    <a title="" href="/" class="active"><img alt="" src="upload/sites/site_1/job_1_tumb_2.jpg"></a>
    <a title="" href="/"><img alt="" src="upload/sites/site_1/job_1_tumb_3.jpg"></a>
    <a title="" href="/"><img alt="" src="upload/sites/site_1/job_1_tumb_2.jpg"></a>
    <a title="" href="/"><img alt="" src="upload/sites/site_1/job_1_tumb_1.jpg"></a>
    <a title="" href="/"><img alt="" src="upload/sites/site_1/job_1_tumb_3.jpg"></a>
    <a title="" href="/"><img alt="" src="upload/sites/site_1/job_1_tumb_1.jpg"></a>
</div>

<!-- Пагинация по проектам -->
<div class="pagination">
    <a class="prewJob" href="/">Предыдущий проект</a>
    <em class="green"><a class="green" href="javascript:history.back()">Вернуться назад</a></em>
    <a class="nextJob" href="/">Следующий проект</a>
</div>
