<div class="jobTumb">
    <div class="viewWindow">
        <div class="fade clearfix">
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_1/job_1_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_2/job_2_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_3/job_3_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_4/job_4_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_5/job_5_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_6/job_6_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_7/job_7_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_8/job_8_tumb.jpg" /></a>
        </div>
        <div class="fade clearfix" style="display:none">
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_3/job_3_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_1/job_1_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_2/job_2_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_8/job_8_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_4/job_4_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_6/job_6_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_7/job_7_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_5/job_5_tumb.jpg" /></a>
        </div>
        <div class="fade clearfix" style="display:none">
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_6/job_6_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_3/job_3_tumb.jpg" /></a>
            <a title="" href="portfolio.html"><img alt="" src="upload/sites/site_5/job_5_tumb.jpg" /></a>
        </div>
    </div>
    <span class="endPrev"><span class="prevImg"></span></span>
    <span class="endNext"><span class="nextImg"></span></span>
</div>
<div class="bottomMenu">
    <div><a href="/" class="active">Портфолио</a><span>15</span></div>
    <div><a href="/">Сайты-визитки</a><span>38</span></div>
    <div><a href="/">Интернет-магазины</a><span>0</span></div>
    <div><a href="/">Порталы</a><span>5</span></div>
    <div><a href="/">Иллюстрации</a><span>17</span></div>
    <div><a href="/">Иконки</a><span>10</span></div>
</div>
