<div class="jobTumb">
    <div class="viewWindow">
        <div class="fade clearfix" px-animate-show="visible">
            <a title="{{ work.title }}" href="#/work/{{ work.id }}" ng-repeat="work in works">
                <img alt="{{ work.title }}" ng-src="{{ work.face }}" px-loader="img/loader.gif" />
            </a>
        </div>
    </div>
    <span class="endPrev"><span class="prevImg" ng-click="prevPage(event)" ng-hide="isFirst"><img class="normal" src="../../img/prevImg.png" /><img class="hover" src="../../img/prevImgHover.png" /></span></span>
    <span class="endNext"><span class="nextImg" ng-click="nextPage(event)" ng-hide="isLast"><img class="normal" src="../../img/nextImg.png" /><img class="hover" src="../../img/nextImgHover.png" /></span></span>
</div>
<div class="bottomMenu">
    <div><a href="/#/works" ng-class="{ true:'active', false: '' }[currentTag == 0]">Все работы</a><span>{{ countWorks }}</span></div>
    <div class="animate-view" ng-repeat="tag in tags">
        <a href="#/works/{{ tag.id }}" ng-class="{ true:'active', false: '' }[tag.id == currentTag]">{{ tag.title }}</a>
        <span>{{ tag.worksCount }}</span>
    </div>
</div>
