.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 50px 24px 24px 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(../img/loading.gif) no-repeat 50% 50%; }


#publicationModal.box-modal {
	position: relative;
	width: 890px;
	padding:20px 40px;
	background: #EBECE7;
	color: #333;
	box-shadow: 0 0 0 6px rgba(180,51,11, 1);
	border-radius: 1px;
}
#contactFormModal.box-modal {
	position: relative;
	width: 530px;
	padding:50px;
	background: #B73913;
	color: #fff;
	box-shadow: 0 0 0 6px rgba(255,255,255, 1);
	border-radius: 1px;
}
#successFormModal.box-modal {
	position: relative;
	width: 530px;
	padding:50px;
	background: #E5E9EA;
	color: #fff;
	box-shadow: 0 0 0 6px rgba(183,57,19, 1);
	border-radius: 1px;
}
.box-modal_close { position: absolute;height:72px;width:72px; right: -36px; top: -36px;background: transparent url(../img/closeModal.png) no-repeat;cursor: pointer; }
.box-modal_close:hover { color: #666; }



