    <div class="box-modal clearfix" id="publicationModal">
        <div class="box-modal_close arcticmodal-close"></div>
		<!--<div class="publicationNavTop clearfix">
			<div class="fl">Предыдущая</div>
			<div class="fr">Следующая</div>
		</div>-->
        <!-- Content Container -->
		<section class="publicationContent">
			<!-- Content -->
			<h1>Все публикации</h1>
			<p>Печатные издания, в которых представлены статьи о работах Инны Азорской. Ознакомиться подробнее с материалами публикаций вы можете на оффициальных сайтах журналов.</p>
			<div class="clearfix">
				<div class="allPubl fl">Апрель 2008<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2008_04.jpg"/></div>
				<div class="allPubl fl">Июнь 2008<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2008_06.jpg"/></div>
				<div class="allPubl fl">Октябрь 2008<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2008_10.jpg"/></div>
				<div class="allPubl fl">Ноябрь 2008<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2008_11.jpg"/></div>
				<div class="allPubl fl">Ноябрь 2008<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2008_11a.jpg"/></div>
				<div class="allPubl fl">Июль 2009<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2009_07.jpg"/></div>
				<div class="allPubl fl">Октябрь 2009<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2009_10.jpg"/></div>
				<div class="allPubl fl">Ноябрь 2009<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2009_11.jpg"/></div>
				<div class="allPubl fl">Март 2011<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2011_03.jpg"/></div>
				<div class="allPubl fl">Май 2011<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2011_05.jpg"/></div>
				<div class="allPubl fl">Сентябрь 2011<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2011_09.jpg"/></div>
				<div class="allPubl fl">Август 2012<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2012_08.jpg"/></div>
				<div class="allPubl fl">Февраль 2013<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2013_02.jpg"/></div>
				<div class="allPubl fl">Март 2013<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2013_03.jpg"/></div>
				<div class="allPubl fl">Март 2013<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2013_03a.jpg"/></div>
				<div class="allPubl fl">Август 2013<br><img src="themes/azorskaya_status_lp/files/img/pressa/all/2013_08.jpg"/></div>
			</div>
		</section>
		<!-- /Content Container -->
		<!--<div class="publicationNav clearfix">
			<div class="fl">Предыдущая</div>
			<div class="fr">Следующая</div>
		</div>-->
    </div>