    <div class="box-modal clearfix" id="publicationModal">
        <div class="box-modal_close arcticmodal-close"></div>
		<!--<div class="publicationNavTop clearfix">
			<div class="fl">Предыдущая</div>
			<div class="fr">Следующая</div>
		</div>-->
        <!-- Content Container -->
		<section class="publicationContent">
			<!-- Content -->
			<h1>Политика конфиденциальности</h1>
			<p>Мы высоко ценим Ваш интерес к нашему проекту и уважаем всех пользователей нашего ресурса. 
			Защита персональных данных для нас очень важна. Мы соблюдаем правила защиты персональных 
			данных и защиты ваших данных от несанкционированного доступа третьих лиц (защита персональных данных).</p>
			<p>Заполнение формы с контактными данными означает безоговорочное согласие с настоящей Политикой 
			конфиденциальности и указанными в ней условиями обработки персональной информации.</p>
			<h2>Ниже приводится информация об обработке персональных данных.</h2>
			<ol> 
				<li> <b>Персональные данные. Цель сбора и обработки персональных данных.</b>
					<ul>
						<li> Вы всегда можете посетить данную страницу, не раскрывая никакой персональной информации.</li>
						<li> Под персональными данными понимается любая информация, относящаяся к определенному или определяемому на основании такой информации физическому лицу.</li>
						<li> Наша компания собирает и использует персональные данные, необходимые для выполнения Вашего запроса, это – имя и электронный адрес.</li>
						<li> Наша компания не проверяет достоверность персональных данных, предоставляемых физическими лицами, и не проверяет их дееспособность.</li>
					</ul>
				</li>
				<li> <b>Условия обработки персональной информации покупателя и её передачи третьим лицам.</b>
					<ul>
						<li> При обработке персональных данных посетителей сайта наша компания руководствуется Федеральным законом РФ «О персональных данных».</li>
						<li> В отношении персональной информации покупателя сохраняется ее конфиденциальность.</li>
						<li> Наша компания не передает персональные данные третьим лицам.</li>
					</ul>
				</li>
				<li> <b>Меры, применяемые для защиты персональной информации пользователей.</b>
					<ul>
						<li> Наша компания принимает необходимые и достаточные организационные и технические меры для защиты персональной информации пользователя от неправомерного или случайного доступа, 
						уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.</li>
					</ul>
				</li>
			</ol>
			<p>&nbsp;</p>
		</section>

    </div>