/* Контент */

/* Хиты, Новинки, Аксессуары, Распродажа */
.titleFlash{height:40px;background:#FFF}
.titleFlash ul{}
.titleFlash li a{float:left;margin-right:60px;padding:0;color:#B9B9B9;cursor:pointer;font-size:14pt;text-decoration:none;border-bottom: 1px dashed #B9B9B9;}
.titleFlash li a:hover{color:#4c4c4c;cursor:pointer;border-bottom: 1px dashed #4c4c4c;}
.titleFlash li.active a{padding:0 0 10px 0;background: url(../img/activ_line.png) no-repeat center bottom;color: #D20F0A;cursor:default;text-decoration:none;border-bottom:none}

/* Блоки продуктов */
.product{width:412px;margin-top:30px;background:#FFF}
.productPhoto{width:120px;height:160px;text-align:center}
.productPhoto div img{position:absolute;z-index:5}
.productDescription{width:290px;min-height:130px}
.productDescription p.title a{color:#4c4c4c;font-size:11pt;font-weight:bold;text-decoration:none}
.productDescription p.description{margin-bottom:5px}
.productDescription p.yandex:first-letter{color:#D20F0A}
.product .price{font-size:16pt;font-weight:bold;padding-right:20px}
.price span{font-size:16pt}
.price span.red{font-size:16pt;color:#d20f0a}
    span.dot { position:absolute; text-indent: -1000em; }
    span.ruble { text-transform:uppercase;padding-left:4px }
    span.hyphen:after { content: '\2013'; }
    span.hyphen { position:absolute; margin:.1ex 0 0; behavior: expression(this.innerHTML = '&ndash;');padding-left:4px}
a.buttonBuy{padding:4px 22px;background: url(../img/buy_btn.png) no-repeat center top;color:#FFF;text-transform:uppercase;text-decoration:none;font-size:7pt;font-weight:bold;position:relative;z-index:6;top:135px}
a.buttonBuy:hover{background: url(../img/buy_btn.png) no-repeat center bottom;}
.discount{display:none;float:left;position:relative;z-index:6;top:-8px}
.miracle{display:none;float:left;position:relative;z-index:6;top:-8px}

/* Блок записей анансов блога */
.blogBlog{border-top:1px solid #e1e1e1;margin-top:20px;padding:20px 0 50px 10px}
.blogTitle{font-size:16pt}
.blogEntries{border-bottom:1px solid #e1e1e1;padding:30px 0 15px 0}
.blogImg{width:120px;text-align:center}
.blogTxt{width:690px;}
p.blogTxtTitle{margin-bottom:5px}
p.blogTxtTitle a{/*color:#4c4c4c;*/font-size:11pt;font-weight:bold;text-decoration:none}
p.blogAutor{font-size:8pt;color:#959595}
p.blogAutor a{font-size:8pt;color:#4c4c4c}
p.blogAutor a:hover{text-decoration:none}
p.blogAutor span.blogDate{font-size:8pt;color:#4c4c4c}
p.blogAutor span.blogDoted{padding:0 15px}
p.readMore a{text-decoration:none}