* {
    margin: 0;
    padding: 0;
}


.clr {
    clear: both;
    margin: 0;
    padding: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
}


li {
    list-style: none;
}

.main_resize {
    width: 960px;
    margin: 0 auto;
}

.small_resize {
    width: 760px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    color:#000;
    text-shadow:0.8px 1.2px 1px #FFFFFF;
    padding: 27px 0 20px 0;
    line-height: normal;
    text-align:center;
}

.small_tite {
    color: #a43900;
    font-size: 34px;
    line-height: normal;
    text-align: center;
}

.title span {
    color:#993300;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bigger_fat {
    font-size: 36px;
    font-weight: bold;
}


.big_semifat {
    font-size: 31px;
    font-weight: 600;
}

.large_semifat {
    font-size: 28px;
    font-weight: 600;
}

.medium_semifat {
    font-size: 26px;
    font-weight: 600;
}

.small_semifat {
    font-size: 24px;
    font-weight: 600;
} 

.header {
    background: #442f2a;
    border-bottom: solid 2px #ffcc99;
    padding: 35px 0 37px 0;
}

.logo {
    padding: 0 0 0 21px;
}

.numbers {
    color:#ffcc99;
    text-align: right;
    font-size: 16px;
    padding: 0 11px 0 0;
}

.numbers span {
    font-size: 12px;
}

.numbers a {
    color: #ffcc99;
    font-size: 20px;
    font-weight: 600;
}


.typical_title_segment {
    background: url(../images/after_head_bg.png) no-repeat center top;
}

.diz_title {
    padding: 122px 0 51px 0;
}

.diz_title .big_semifat {
    color: #442f2a;
    letter-spacing: -1px;
}

.diz_title .bigger_fat {
    color: #b73913;
    line-height: 36px;
}

.place_block .large_semifat {
    color: #442f2a;
}

.place_block .small_semifat {
    color: #442f2a;
}

.place_block .medium_semifat {
    color: #b73913;
}

.price {
    text-align: right;
    font-size: 44px;
    color:#b73913;
    font-weight:bold;
}
 
.typical_title_segment .right {
    background: url(../images/top_form_bg.png) no-repeat top center;
    width: 392px;
    height:430px;
    margin: 50px 0 33px 0;
}

.typical_title_segment .right h4 {
    font-size: 24px;
    color: #000;
    text-shadow:-1px 1px 1px #FFFFFF;
    text-align: center;
    padding: 80px 0 40px 0;
    font-family: 'PT Sans', sans-serif;
}


.typical_title_segment .right h4 span {
    color:  #b73913;
}


.typical_title_segment .right input[type=text] {
    border: 1px solid #cbcbc9;
    outline: none;
    text-align: center;
    width: 305px;
    line-height: 30px;
    font-size: 13px;
    margin: 0 auto 15px auto; 
    display: block;
    height: 30px;
}

.typical_title_segment .right input[type=submit] {
    background: url(../images/send_btn.png) no-repeat left top;
    width: 305px;
    height: 58px;
    font-size: 24px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.adventage_segment {
    background: url(../images/advantage_bg.png) no-repeat top center;
}
.adventage_segment .left {
    width: 50%;
}
.adventage_segment .right {
    width: 50%;
}

.adventage_segment ul li {
    padding: 15px 0 15px 78px;
    color: #404040;
    font-size: 25px;
    text-shadow:0.8px 1.2px 1px #FFFFFF;
    line-height: 27px;
    height: 120px;
}

.volume {
    font-size: 25px;
    background: url(../images/glasses.png) no-repeat 76px 4px;
    padding: 0 0 20px 40px;
    color: #404040;
    text-align: center;
    text-shadow:0.8px 1.2px 1px #FFFFFF;
}


/*
slider-segment===================================================================*/

.slider_segment {
    background: url(../images/slider_segment_bg.png) no-repeat top center;
    padding: 0 0 100px 0;
}

.slider_segment .title {
    
}

.slider_journal {
    background: url(../images/);
    position: relative;
    padding: 26px 0 0 0px;
}

.slider_journal .bx-wrapper .bx-viewport {
    height: 581px !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    left: -5px;
    background: none;
    position: relative;
    width: 650px;
    margin:0 auto;
}



.slider_journal .bx-has-controls-direction {
    width: 176px;
    margin-left: 74px;
    position: relative;
}
.slider_journal .bx-wrapper .bx-controls-direction a {
    margin-top: 3px;


}
.slider2 {
	height:579px !important;
	
}
.journal h3 {
    padding: 30px 0 50px 0;
    color: #fff;
    font-size: 18px;
	top:20px;
	left:112px;
	position:relative;
}
.journal {
	width:960px;
	position:relative;
	padding:0 0  0 291px;
}

.pics {  
    height:  437px;  
    width:   600px;  
    padding: 0;  
    margin: 0;
} 
.journal_1:before {
	background:url(../images/slider_journal_bg.png) no-repeat left top;
	width: 455px;
	height:475px;
	content:'';
	position:absolute;
	left:0;
	top:20px;
	
}
.journal_2:before {
	background:url(../images/slider_journal_bg_5.png) no-repeat left top;
	width: 413px;
	height:430px;
	content:'';
	position:absolute;
	left:0;
	top:20px;
	
}

.journal_3:before {
	background:url(../images/slider_journal_bg_2.png) no-repeat left top;
	width: 464px;
	height:483px;
	content:'';
	position:absolute;
	left:0;
	top:20px;
	
}
.journal_4:before {
	background:url(../images/slider_journal_bg_4.png) no-repeat left top;
	width: 401px;
	height:418px;
	content:'';
	position:absolute;
	left:0;
	top:20px;
	
}
.journal_5:before {
	background:url(../images/slider_journal_bg_1.png) no-repeat left top;
	width: 424px;
	height:441px;
	content:'';
	position:absolute;
	left:0;
	top:20px;
	
}
.journal_6:before {
	background:url(../images/slider_journal_bg_3.png) no-repeat left top;
	width: 436px;
	height:429px;
	content:'';
	position:absolute;
	left:0;
	top:20px;
	
}

.cycle_navigation_2 {
	width: 177px;
position: relative;
left: 50%;
margin-left: -115px;
}
#next_1 {
	left: 10px;
	background: url(../images/slider_prev_next_sprites.png) no-repeat 0 0;
	position: absolute;
	margin-top: -16px;
	outline: 0;
	width: 72px;
	height: 72px;
	text-indent: -9999px;
	z-index: 7000;
	cursor:pointer;
}

#prev_1 {
	cursor:pointer;
	right: 10px;
	background: url(../images/slider_prev_next_sprites.png) no-repeat -84px -72px;
	position: absolute;
	margin-top: -16px;
	outline: 0;
	width: 72px;
	height: 72px;
	text-indent: -9999px;
	z-index: 7000;
}
#next_1:hover {
	background-position: 0 -72px;
}

#prev_1:hover {
	background-position: -84px 0;
}
.pics img {  
    float: left; 
    top:  0; 
    left: 0 ;
} 
.slider_journal .slider_pages .bx-has-controls-direction {
    width: 586px;
    position: relative;
    margin-left: -15px;
}
.slider_journal .slider_pages .bx-wrapper .bx-controls-direction a {
    margin-top: -103px

}

.cycle_navigation {
    position: relative;
}

.slider_journal #next {
	z-index:120;
    position: absolute;
    background: url(../images/page_jou_sprites.png) no-repeat -20px 0 ;
    width: 20px;
    height: 37px;
    cursor: pointer;
    right: 35px;
    text-indent: -9999px;
    top: -74px;


}

.slider_journal #next:hover {
    background-position: -20px -37px;
}

.slider_journal #prev {
	z-index:120;
    position: absolute;
    background: url(../images/page_jou_sprites.png) no-repeat 0px 0 ;
    width: 20px;
    height: 37px;
    cursor: pointer;
    text-indent: -9999px;
    left: 260px;
    top: -74px;
}

.slider_journal #prev:hover {
    background-position: 0px -37px;
}










/*
toggle-segment=================================================================================*/

.toggle_segment {
    background: url(../images/toggle_segment_bg.png) top center;
    padding: 20px 0;
}

.toggle_segment .left {
    width: 50%;
}

.toggle_segment .left input[type=submit] {
    background: url(../images/red_big_btn.png) no-repeat left top;
    width: 487px;
    height: 57px;
    font-size: 21px;
    line-height: 57px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.covert_1 {
    padding: 60px 0 0 0;
    display: none;
}

.covert_1 p {
    font-size: 22px;
    line-height: 22px;
    color: #404040;
    font-weight: 600;
    padding: 36px 0 0 0;
}

.covert_1 p span {
    color: #a43900;
}

.covert_1 ul {
    padding: 0 0 0 20px;
}

.covert_1 ul li {
    color: #404040;
    font-size: 16px;
    list-style: disc;
}

.covert_1 a {
    font-weight: 700;
    color:#000;
}

.covert_1 a:hover {
    text-decoration: none;
    
}

.toggle_segment .right {
    width: 50%;
}

.toggle_segment .right input[type=submit] {
    background: url(../images/black_btn.png) no-repeat left top;
    width: 305px;
    height: 58px;
    font-size: 21px;
    line-height: 58px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

 
 .covert_2 {
    display: none;
}
 .form_univers {
    background: url(../images/buy_form_bg.png) no-repeat top center;
    width: 392px;
    height:430px;
    margin: 50px auto 33px auto;
    
}


.form_univers h4 {
    font-size: 24px;
    color: #000;
    text-shadow:-1px 1px 1px #FFFFFF;
    text-align: center;
    padding: 80px 0 40px 0;
    font-family: 'PT Sans', sans-serif;
}

.form_univers h4 span {
    color: #b73913;
}

.form_univers input[type=text] {
    border: 1px solid #cbcbc9;
    outline: none;
    text-align: center;
    width: 305px;
    line-height: 30px;
    font-size: 13px;
    margin: 0 auto 15px auto; 
    display: block;
    height: 30px;
}

.form_univers input[type=submit] {
    background: url(../images/send_btn.png) no-repeat left top !important;
    width: 305px;
    height: 58px;
    font-size: 24px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}


.work_segment {
    background: url(../images/work_segment_bg.png) no-repeat center top;
    padding: 0 0 50px 0;

}

.free {
    font-size: 48px;
    color: #404040;
    text-shadow:0.8px 1.2px 1px #FFFFFF;
    font-weight: 700;
}

.work_segment ul li {
    font-size: 18px;
    line-height: 18px;
    color: #404040;
    position: relative;
    text-align: center;
}


.first_part {
    background: #ececec;
    border:1px solid #b5b5b4;
    border-radius: 20px;
    padding: 15px 0 10px 20px;
}

.first_part li {
    display: inline-block;
    vertical-align: top;
    margin-right: 178px;
    

}
.first_part li:first-child {
    margin-left: 10px;
}


.first_part li:last-child {
    margin-right: 0;
}

.first {
    
}

.first:after {
    position: absolute;
    content: '';
    width: 147px;
    height: 27px;
    background: url(../images/arrow_1.png) no-repeat right center;
    left: 122px;
}

.second:after {
    position: absolute;
    content: '';
    width: 147px;
    height: 27px;
    background: url(../images/arrow_2.png) no-repeat right center;
    left: 252px;
    bottom: 26px;
}
.third:after{
    position: absolute;
    content: '';
    width: 98px;
    height: 113px;
    background: url(../images/arrow_3.png) no-repeat right center;
    right: -27px;
    top: 62px;
}
.fourth:after{
    position: absolute;
    content: '';
    width: 147px;
    height: 27px;
    background: url(../images/arrow_4.png) no-repeat left top;
    left: -136px;
    top: -38px;
}
.fifth:after{
    position: absolute;
    content: '';
    width: 147px;
    height: 27px;
    background: url(../images/arrow_5.png) no-repeat left bottom;
    left: -150px;
    bottom: -8px;
}
.sixth:after{
    position: absolute;
    content: '';
    width: 147px;
    height: 27px;
    background: url(../images/arrow_6.png) no-repeat left top;
    left: -149px;
    top: -38px;
}
.fancybox-inner {
	position:relative;
}
.fancybox-type-image:before {
	position:absolute;
	content:'';
	background:url(../images/wm.png) no-repeat right bottom;
	width:100%;
	height:100%;
	z-index:88;
	right:0;
	bottom:0;
}


.second_part {
    padding: 113px 0 146px 0;
}

.second_part li {
    float: right;
    margin-left: 95px;
    height: 80px;

}
.second_part li:first-child {
    margin-right: 10px;
}
.second_part li:last-child {
    margin-left: 0;
}

.comment_segment {
    background: url(../images/comment_segment_bg.png) no-repeat top center;
    padding: 0 0 150px 0;
}
.comment_segment .bx-wrapper .bx-viewport {
    background: none;
    -moz-box-shadow:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    left: -5px;
}
.real_man {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    z-index: 10;
    top: 24px;
}

.real_proekt {
    -webkit-border-radius:50%;   
    -moz-border-radius:50%;
    border-radius: 50%;
    border:5px solid #fff;
    position: relative;
    right: -275px;
    box-shadow: inset 0px 5px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: inset 0px 5px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: inset 0px 5px 10px 4px rgba(119, 119, 119, 0.75);
}


.slider {
    padding: 96px 0 0 0;
}

.slider_comment {
    position: absolute;
    top: 13px;
    right: 3px;
    width: 257px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
  
}
.slider_comment a {
	color:#fff;
}
.slider_comment h5 {
    padding: 0 0 20px 0;
    font-size: 24px;
    line-height: normal;
    color: #000;
    font-weight: 600;
}

.comment_segment .bx-wrapper .bx-pager.bx-default-pager a {
  border-radius: 50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  background-color: rgb( 153, 51, 0 );
  opacity: 0.4;
  box-shadow: 0.5px 0.866px 0px 0px rgb( 255, 255, 255 );
  -moz-box-shadow: 0.5px 0.866px 0px 0px rgb( 255, 255, 255 );
  -webkit-box-shadow: 0.5px 0.866px 0px 0px rgb( 255, 255, 255 );
  width: 25px;
  height: 25px;

}
.comment_segment .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.comment_segment .bx-wrapper .bx-pager.bx-default-pager a.active  {
  background-color: rgb( 153, 51, 0 ) !important;
 opacity: 1;

}
.comment_segment .bx-controls-direction {
    width: 177px;
    position: relative;
    left: 50%;
    margin-left: -82px;
    bottom: -23px;
}
.comment_segment .bx-controls.bx-has-pager.bx-has-controls-direction {
    position: relative;
    width: 960px;
}

.comment_segment .bx-wrapper .bx-pager {
    position: relative;
    top: -23px;
    right: -647px;
    width: 257px !important;
}

/*start-jast-form-segment
==================================================*/
.jast_form_segment {
    background: url(../images/jast_form_segment_bg.png) no-repeat center top;
}

/*start-footer
===================================================*/

.footer {
    background: url(../images/footer_bg.png) no-repeat top center;
    padding: 0 0  115px 0;

}

/*.big_bottom {
    position: relative;
}
.big_bottom img {
    display: block;
}
.sofa_mask {
    position: absolute;
    background: url(../images/sofa_mask_1.png) no-repeat center bottom;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}
*/
.bottom_center {
    text-align: center;
}
.copi {
    padding: 65px 0 0 0;
}


.home_link {
    float: right;
    padding: 22px 167px 0 0;
}
.home_link a {
    color: #ffcc99;
    font-size: 24px;
    font-weight: 600;
}

/*end-footer
===================================================*/

/*
start-pop-ups===========================================*/


#drafts {
    display: none;
}