/* powered by Pixelio.ru */
a{color:#555}
::selection{background-color:#000;color:#f4f4f4}
.centered {text-align: center;}
#supersized{margin:0!important}
a:hover{color:#000}
h2{margin:0}
h3{font-weight:200}
.da-slider,#holder1,.static-slide{background-color:rgba(255,255,255,0.92)}
.boly-wrapper,.myWork-wrapper{background-color:#fff}
#zahvat{background-color:#E66C00}
#zahvat2{background-color:#BDBC2E}
#zahvat3{background-color:#B01C19}
#zahvat p, #zahvat2 p, #zahvat3 p{color:#fff}
.tooltip-inner{letter-spacing:1px;font-size:11px}
#overlay{top:0;width:100%;height:100%;position:fixed;background-repeat:repeat;background-image:url('../img/pattern.png');z-index:-997}
.main-container{z-index:3}
header{}
header h1{text-align:center;margin-top:40px;margin-bottom:0;color:#fff;font-weight:200;/*font-size:60px;*/text-shadow: 1px 1px 1px #333;}
#logo{float:left;margin-top:20px}
#logo a{text-align:center;margin-top:0;color:#f4f4f4;font-family:;background-color:#B01C19;font-size:33px;padding:50px}
#logo a:hover{background-color:#222}
#logo a:hover{text-decoration:none}
#contTopRight{float:right;}
#top-phone{width:380px;height:auto;background: rgba(255,255,255,0.9)/* url('../img/icons/phone.png') no-repeat 20px center*/;margin-top:10px}
#top-email{width:380px;height:auto;background: rgba(255,255,255,0.9)/* url('../img/icons/mail.png') no-repeat 20px center*/;margin-top:5px}
#top-phone p{color:#333;text-align:right;padding:20px 20px 0 20px;font-size:33px;margin-bottom:0;background: url('../img/icons/phone.png') no-repeat 20px center;}
#top-phone span{text-align:right;color:#333;font-size:20px;display:block;padding:15px 0 10px 0;}
#top-email p{color:#B01C19;text-align:right;padding:15px 20px;font-size:30px;margin-bottom:0;background:  url('../img/icons/mail.png') no-repeat 20px center}

.main-slider{margin-top:50px}
.da-slider{width:100%;min-width:300px;height:430px;position:relative;margin:0 auto;overflow:hidden}
.da-slide{position:absolute;width:100%;height:100%;top:0;left:0;font-family:;text-align:left}
.da-slide-current{z-index:1000}
.da-slider-fb .da-slide{left:100%}
.da-slider-fb .da-slide.da-slide-current{left:0}
.da-slide h1,.da-slide p,.da-slide .da-link,.da-slide .da-img{position:absolute;opacity:0;left:110%}
.da-slider-fb .da-slide h2,.da-slider-fb .da-slide p,.da-slider-fb .da-slide .da-link{left:3%;opacity:1}
.da-slider-fb .da-slide .da-img{left:60%;opacity:1}
.da-slide h1{color:#B01C19;font-size:60px;width:50%;top:60px;/*font-size:50px;*/white-space:nowrap;z-index:10;text-shadow:1px 1px 1px rgba(0,0,0,0.1);font-family:;font-weight:200}
.da-slide p{width:45%;top:155px;color:#333;font-size:24px;line-height:26px;height:auto;overflow:hidden;font-style:italic;font-family:;font-weight:400}
.da-slide .da-img{text-align:center;width:32%;top:40px;height:256px;line-height:320px;left:110%}
.da-slide .da-link{bottom:10%}
.da-dots{width:100%;position:absolute;text-align:center;left:0;bottom:20px;z-index:2000;-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;-ms-user-select:none}
.da-dots span{display:inline-block;position:relative;width:12px;height:12px;border-radius:50%;background:rgba(15,15,15,0.14);margin:3px;cursor:pointer;box-shadow:1px 1px 1px rgba(0,0,0,0.1) inset,1px 1px 1px rgba(255,255,255,0.1)}
.da-dots span.da-dots-current:after{content:'';width:8px;height:8px;position:absolute;top:2px;left:2px;border-radius:50%;background:#fff;background:-moz-linear-gradient(top,rgba(255,255,255,1) 0,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(47%,rgba(246,246,246,1)),color-stop(100%,rgba(237,237,237,1)));background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);background:-o-linear-gradient(top,rgba(255,255,255,1) 0,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);background:-ms-linear-gradient(top,rgba(255,255,255,1) 0,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);background:linear-gradient(top,rgba(255,255,255,1) 0,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0)}
/*.da-arrows{-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;-ms-user-select:none}
.da-arrows span{position:absolute;top:50%;height:30px;width:30px;border-radius:50%;background:#e4b42d;cursor:pointer;z-index:2000;opacity:0;box-shadow:1px 1px 1px rgba(0,0,0,0.1) inset,1px 1px 1px rgba(255,255,255,0.1);-webkit-transition:opacity .4s ease-in-out .2s;-moz-transition:opacity .4s ease-in-out .2s;-o-transition:opacity .4s ease-in-out .2s;-ms-transition:opacity .4s ease-in-out .2s;transition:opacity .4s ease-in-out .2s}
.da-slider:hover .da-arrows span{opacity:1}
.da-arrows span:after{content:'';position:absolute;width:20px;height:20px;top:5px;left:5px;background:transparent url(../img/arrows.png) no-repeat top left;border-radius:50%;box-shadow:1px 1px 2px rgba(0,0,0,0.1)}
.da-arrows span:hover:after{box-shadow:1px 1px 4px rgba(0,0,0,0.3)}
.da-arrows span:active:after{box-shadow:1px 1px 1px rgba(255,255,255,0.1)}
.da-arrows span.da-arrows-next:after{background-position:top right}
.da-arrows span.da-arrows-prev{left:15px}
.da-arrows span.da-arrows-next{right:15px}*/
.da-slide-current h1,.da-slide-current p,.da-slide-current .da-link{left:3%;opacity:1}
.da-slide-current .da-img{left:60%;opacity:1}
.da-slide-fromright h1{-webkit-animation:fromRightAnim1 .6s ease-in .8s both;-moz-animation:fromRightAnim1 .6s ease-in .8s both;-o-animation:fromRightAnim1 .6s ease-in .8s both;-ms-animation:fromRightAnim1 .6s ease-in .8s both;animation:fromRightAnim1 .6s ease-in .8s both}
.da-slide-fromright p{-webkit-animation:fromRightAnim2 .6s ease-in .8s both;-moz-animation:fromRightAnim2 .6s ease-in .8s both;-o-animation:fromRightAnim2 .6s ease-in .8s both;-ms-animation:fromRightAnim2 .6s ease-in .8s both;animation:fromRightAnim2 .6s ease-in .8s both}
.da-slide-fromright .da-link{-webkit-animation:fromRightAnim3 .4s ease-in 1.2s both;-moz-animation:fromRightAnim3 .4s ease-in 1.2s both;-o-animation:fromRightAnim3 .4s ease-in 1.2s both;-ms-animation:fromRightAnim3 .4s ease-in 1.2s both;animation:fromRightAnim3 .4s ease-in 1.2s both}
.da-slide-fromright .da-img{-webkit-animation:fromRightAnim4 .6s ease-in .8s both;-moz-animation:fromRightAnim4 .6s ease-in .8s both;-o-animation:fromRightAnim4 .6s ease-in .8s both;-ms-animation:fromRightAnim4 .6s ease-in .8s both;animation:fromRightAnim4 .6s ease-in .8s both}
@-webkit-keyframes fromRightAnim1{0%{left:110%;opacity:0}100%{left:3%;opacity:1}}
@-webkit-keyframes fromRightAnim2{0%{left:110%;opacity:0}100%{left:3%;opacity:1}}
@-webkit-keyframes fromRightAnim3{0%{left:110%;opacity:0}1%{left:3%;opacity:0}100%{left:3%;opacity:1}}
@-webkit-keyframes fromRightAnim4{0%{left:110%;opacity:0}100%{left:60%;opacity:1}}
@-moz-keyframes fromRightAnim1{0%{left:110%;opacity:0}100%{left:3%;opacity:1}}
@-moz-keyframes fromRightAnim2{0%{left:110%;opacity:0}100%{left:3%;opacity:1}}
@-moz-keyframes fromRightAnim3{0%{left:110%;opacity:0}1%{left:3%;opacity:0}100%{left:3%;opacity:1}}
@-moz-keyframes fromRightAnim4{0%{left:110%;opacity:0}100%{left:60%;opacity:1}}
@-o-keyframes fromRightAnim1{0%{left:110%;opacity:0}100%{left:3%;opacity:1}}
@-o-keyframes fromRightAnim2{0%{left:110%;opacity:0}100%{left:3%;opacity:1}}
@-o-keyframes fromRightAnim3{0%{left:110%;opacity:0}1%{left:3%;opacity:0}100%{left:3%;opacity:1}}
@-o-keyframes fromRightAnim4{0%{left:110%;opacity:0}100%{left:60%;opacity:1}}
@-ms-keyframes fromRightAnim1{0%{left:110%;opacity:0}100%{left:3%;opacity:1}}
@-ms-keyframes fromRightAnim2{0%{left:110%;opacity:0}100%{left:3%;opacity:1}}
@-ms-keyframes fromRightAnim3{0%{left:110%;opacity:0}1%{left:3%;opacity:0}100%{left:3%;opacity:1}}
@-ms-keyframes fromRightAnim4{0%{left:110%;opacity:0}100%{left:60%;opacity:1}}
@keyframes fromRightAnim1{0%{left:110%;opacity:0}100%{left:3%;opacity:1}}
@keyframes fromRightAnim2{0%{left:110%;opacity:0}100%{left:3%;opacity:1}}
@keyframes fromRightAnim3{0%{left:110%;opacity:0}1%{left:3%;opacity:0}100%{left:3%;opacity:1}}
@keyframes fromRightAnim4{0%{left:110%;opacity:0}100%{left:60%;opacity:1}}
.da-slide-fromleft h1{-webkit-animation:fromLeftAnim1 .6s ease-in .6s both;-moz-animation:fromLeftAnim1 .6s ease-in .6s both;-o-animation:fromLeftAnim1 .6s ease-in .6s both;-ms-animation:fromLeftAnim1 .6s ease-in .6s both;animation:fromLeftAnim1 .6s ease-in .6s both}
.da-slide-fromleft p{-webkit-animation:fromLeftAnim2 .6s ease-in .6s both;-moz-animation:fromLeftAnim2 .6s ease-in .6s both;-o-animation:fromLeftAnim2 .6s ease-in .6s both;-ms-animation:fromLeftAnim2 .6s ease-in .6s both;animation:fromLeftAnim2 .6s ease-in .6s both}
.da-slide-fromleft .da-link{-webkit-animation:fromLeftAnim3 .4s ease-in 1.2s both;-moz-animation:fromLeftAnim3 .4s ease-in 1.2s both;-o-animation:fromLeftAnim3 .4s ease-in 1.2s both;-ms-animation:fromLeftAnim3 .4s ease-in 1.2s both;animation:fromLeftAnim3 .4s ease-in 1.2s both}
.da-slide-fromleft .da-img{-webkit-animation:fromLeftAnim4 .6s ease-in .6s both;-moz-animation:fromLeftAnim4 .6s ease-in .6s both;-o-animation:fromLeftAnim4 .6s ease-in .6s both;-ms-animation:fromLeftAnim4 .6s ease-in .6s both;animation:fromLeftAnim4 .6s ease-in .6s both}
@-webkit-keyframes fromLeftAnim1{0%{left:-110%;opacity:0}100%{left:3%;opacity:1}}
@-webkit-keyframes fromLeftAnim2{0%{left:-110%;opacity:0}100%{left:3%;opacity:1}}
@-webkit-keyframes fromLeftAnim3{0%{left:-110%;opacity:0}1%{left:3%;opacity:0}100%{left:3%;opacity:1}}
@-webkit-keyframes fromLeftAnim4{0%{left:-110%;opacity:0}100%{left:60%;opacity:1}}
@-moz-keyframes fromLeftAnim1{0%{left:-110%;opacity:0}100%{left:3%;opacity:1}}
@-moz-keyframes fromLeftAnim2{0%{left:-110%;opacity:0}100%{left:3%;opacity:1}}
@-moz-keyframes fromLeftAnim3{0%{left:-110%;opacity:0}1%{left:3%;opacity:0}100%{left:3%;opacity:1}}
@-moz-keyframes fromLeftAnim4{0%{left:-110%;opacity:0}100%{left:60%;opacity:1}}
@-o-keyframes fromLeftAnim1{0%{left:-110%;opacity:0}100%{left:3%;opacity:1}}
@-o-keyframes fromLeftAnim2{0%{left:-110%;opacity:0}100%{left:3%;opacity:1}}
@-o-keyframes fromLeftAnim3{0%{left:-110%;opacity:0}1%{left:3%;opacity:0}100%{left:3%;opacity:1}}
@-o-keyframes fromLeftAnim4{0%{left:-110%;opacity:0}100%{left:60%;opacity:1}}
@-ms-keyframes fromLeftAnim1{0%{left:-110%;opacity:0}100%{left:3%;opacity:1}}
@-ms-keyframes fromLeftAnim2{0%{left:-110%;opacity:0}100%{left:3%;opacity:1}}
@-ms-keyframes fromLeftAnim3{0%{left:-110%;opacity:0}1%{left:3%;opacity:0}100%{left:3%;opacity:1}}
@-ms-keyframes fromLeftAnim4{0%{left:-110%;opacity:0}100%{left:60%;opacity:1}}
@keyframes fromLeftAnim1{0%{left:-110%;opacity:0}100%{left:3%;opacity:1}}
@keyframes fromLeftAnim2{0%{left:-110%;opacity:0}100%{left:3%;opacity:1}}
@keyframes fromLeftAnim3{0%{left:-110%;opacity:0}1%{left:3%;opacity:0}100%{left:3%;opacity:1}}
@keyframes fromLeftAnim4{0%{left:-110%;opacity:0}100%{left:60%;opacity:1}}
.da-slide-toright h1{-webkit-animation:toRightAnim1 .6s ease-in .6s both;-moz-animation:toRightAnim1 .6s ease-in .6s both;-o-animation:toRightAnim1 .6s ease-in .6s both;-ms-animation:toRightAnim1 .6s ease-in .6s both;animation:toRightAnim1 .6s ease-in .6s both}
.da-slide-toright p{-webkit-animation:toRightAnim2 .6s ease-in .3s both;-moz-animation:toRightAnim2 .6s ease-in .3s both;-o-animation:toRightAnim2 .6s ease-in .3s both;-ms-animation:toRightAnim2 .6s ease-in .3s both;animation:toRightAnim2 .6s ease-in .3s both}
.da-slide-toright .da-link{-webkit-animation:toRightAnim3 .4s ease-in both;-moz-animation:toRightAnim3 .4s ease-in both;-o-animation:toRightAnim3 .4s ease-in both;-ms-animation:toRightAnim3 .4s ease-in both;animation:toRightAnim3 .4s ease-in both}
.da-slide-toright .da-img{-webkit-animation:toRightAnim4 .6s ease-in both;-moz-animation:toRightAnim4 .6s ease-in both;-o-animation:toRightAnim4 .6s ease-in both;-ms-animation:toRightAnim4 .6s ease-in both;animation:toRightAnim4 .6s ease-in both}
@-webkit-keyframes toRightAnim1{0%{left:3%;opacity:1}100%{left:100%;opacity:0}}
@-webkit-keyframes toRightAnim2{0%{left:3%;opacity:1}100%{left:100%;opacity:0}}
@-webkit-keyframes toRightAnim3{0%{left:3%;opacity:1}99%{left:3%;opacity:0}100%{left:100%;opacity:0}}
@-webkit-keyframes toRightAnim4{0%{left:60%;opacity:1}30%{left:55%;opacity:1}100%{left:100%;opacity:0}}
@-moz-keyframes toRightAnim1{0%{left:3%;opacity:1}100%{left:100%;opacity:0}}
@-moz-keyframes toRightAnim2{0%{left:3%;opacity:1}100%{left:100%;opacity:0}}
@-moz-keyframes toRightAnim3{0%{left:3%;opacity:1}99%{left:3%;opacity:0}100%{left:100%;opacity:0}}
@-moz-keyframes toRightAnim4{0%{left:60%;opacity:1}30%{left:55%;opacity:1}100%{left:100%;opacity:0}}
@-o-keyframes toRightAnim1{0%{left:3%;opacity:1}100%{left:100%;opacity:0}}
@-o-keyframes toRightAnim2{0%{left:3%;opacity:1}100%{left:100%;opacity:0}}
@-o-keyframes toRightAnim3{0%{left:3%;opacity:1}99%{left:3%;opacity:0}100%{left:100%;opacity:0}}
@-o-keyframes toRightAnim4{0%{left:60%;opacity:1}30%{left:55%;opacity:1}100%{left:100%;opacity:0}}
@-ms-keyframes toRightAnim1{0%{left:3%;opacity:1}100%{left:100%;opacity:0}}
@-ms-keyframes toRightAnim2{0%{left:3%;opacity:1}100%{left:100%;opacity:0}}
@-ms-keyframes toRightAnim3{0%{left:3%;opacity:1}99%{left:3%;opacity:0}100%{left:100%;opacity:0}}
@-ms-keyframes toRightAnim4{0%{left:60%;opacity:1}30%{left:55%;opacity:1}100%{left:100%;opacity:0}}
@keyframes toRightAnim1{0%{left:3%;opacity:1}100%{left:100%;opacity:0}}
@keyframes toRightAnim2{0%{left:3%;opacity:1}100%{left:100%;opacity:0}}
@keyframes toRightAnim3{0%{left:3%;opacity:1}99%{left:3%;opacity:0}100%{left:100%;opacity:0}}
@keyframes toRightAnim4{0%{left:60%;opacity:1}30%{left:55%;opacity:1}100%{left:100%;opacity:0}}
.da-slide-toleft h1{-webkit-animation:toLeftAnim1 .6s ease-in both;-moz-animation:toLeftAnim1 .6s ease-in both;-o-animation:toLeftAnim1 .6s ease-in both;-ms-animation:toLeftAnim1 .6s ease-in both;animation:toLeftAnim1 .6s ease-in both}
.da-slide-toleft p{-webkit-animation:toLeftAnim2 .6s ease-in .3s both;-moz-animation:toLeftAnim2 .6s ease-in .3s both;-o-animation:toLeftAnim2 .6s ease-in .3s both;-ms-animation:toLeftAnim2 .6s ease-in .3s both;animation:toLeftAnim2 .6s ease-in .3s both}
.da-slide-toleft .da-link{-webkit-animation:toLeftAnim3 .4s ease-in both;-moz-animation:toLeftAnim3 .4s ease-in both;-o-animation:toLeftAnim3 .4s ease-in both;-ms-animation:toLeftAnim3 .4s ease-in both;animation:toLeftAnim3 .4s ease-in both}
.da-slide-toleft .da-img{-webkit-animation:toLeftAnim4 .6s ease-in .6s both;-moz-animation:toLeftAnim4 .6s ease-in .6s both;-o-animation:toLeftAnim4 .6s ease-in .6s both;-ms-animation:toLeftAnim4 .6s ease-in .6s both;animation:toLeftAnim4 .6s ease-in .6s both}
@-webkit-keyframes toLeftAnim1{0%{left:3%;opacity:1}30%{left:15%;opacity:1}100%{left:-50%;opacity:0}}
@-webkit-keyframes toLeftAnim2{0%{left:3%;opacity:1}30%{left:15%;opacity:1}100%{left:-50%;opacity:0}}
@-webkit-keyframes toLeftAnim3{0%{left:3%;opacity:1}99%{left:3%;opacity:0}100%{left:-50%;opacity:0}}
@-webkit-keyframes toLeftAnim4{0%{left:60%;opacity:1}40%{left:70%;opacity:1}90%{left:0;opacity:0}100%{left:-50%;opacity:0}}
@-moz-keyframes toLeftAnim1{0%{left:3%;opacity:1}30%{left:15%;opacity:1}100%{left:-50%;opacity:0}}
@-moz-keyframes toLeftAnim2{0%{left:3%;opacity:1}30%{left:15%;opacity:1}100%{left:-50%;opacity:0}}
@-moz-keyframes toLeftAnim3{0%{left:3%;opacity:1}99%{left:3%;opacity:0}100%{left:-50%;opacity:0}}
@-moz-keyframes toLeftAnim4{0%{left:60%;opacity:1}40%{left:70%;opacity:1}90%{left:0;opacity:0}100%{left:-50%;opacity:0}}
@-o-keyframes toLeftAnim1{0%{left:3%;opacity:1}30%{left:15%;opacity:1}100%{left:-50%;opacity:0}}
@-o-keyframes toLeftAnim2{0%{left:3%;opacity:1}30%{left:15%;opacity:1}100%{left:-50%;opacity:0}}
@-o-keyframes toLeftAnim3{0%{left:3%;opacity:1}99%{left:3%;opacity:0}100%{left:-50%;opacity:0}}
@-o-keyframes toLeftAnim4{0%{left:60%;opacity:1}40%{left:70%;opacity:1}90%{left:0;opacity:0}100%{left:-50%;opacity:0}}
@-ms-keyframes toLeftAnim1{0%{left:3%;opacity:1}30%{left:15%;opacity:1}100%{left:-50%;opacity:0}}
@-ms-keyframes toLeftAnim2{0%{left:3%;opacity:1}30%{left:15%;opacity:1}100%{left:-50%;opacity:0}}
@-ms-keyframes toLeftAnim3{0%{left:3%;opacity:1}99%{left:3%;opacity:0}100%{left:-50%;opacity:0}}
@-ms-keyframes toLeftAnim4{0%{left:60%;opacity:1}40%{left:70%;opacity:1}90%{left:0;opacity:0}100%{left:-50%;opacity:0}}
@keyframes toLeftAnim1{0%{left:3%;opacity:1}30%{left:15%;opacity:1}100%{left:-50%;opacity:0}}
@keyframes toLeftAnim2{0%{left:3%;opacity:1}30%{left:15%;opacity:1}100%{left:-50%;opacity:0}}
@keyframes toLeftAnim3{0%{left:3%;opacity:1}99%{left:3%;opacity:0}100%{left:-50%;opacity:0}}
@keyframes toLeftAnim4{0%{left:60%;opacity:1}40%{left:70%;opacity:1}90%{left:0;opacity:0}100%{left:-50%;opacity:0}}

.zayavka, .gotarif{padding:0 20px 0 50px;height:50px;font-size:20px;color:#f4f4f4;line-height:50px}
.zayavka{background:url(../img/check.png) #9E990A 6% 33% no-repeat}
.gotarif{background:url(../img/check.png) #E66C00 6% 33% no-repeat}
.zayavka:hover{color:#f4f4f4;background-color:#333;text-decoration:none;-webkit-transition:500ms ease;-o-transition:500ms ease;-moz-transition:500ms ease;-ms-transition:500ms ease;}
.gotarif:hover{color:#f4f4f4;background-color:#333;text-decoration:none;-webkit-transition:500ms ease;-o-transition:500ms ease;-moz-transition:500ms ease;-ms-transition:500ms ease}
.marginTop30{margin-top:30px}
.marginBottom30{margin-bottom:30px}
.margin30{margin:30px}
.splitter {background: url("../img/splitter.png") repeat-x/* scroll 0 0 rgba(0, 0, 0, 0)*/;height: 10px;margin-bottom: 30px;margin-top: 0;}
.jornal{margin:0 25px 25px 0}
.jornal2{margin-bottom:25px}
h2.jornalTitle{font-weight:200;margin-bottom:10px; margin-left:0px;font-size:24px}
.features{margin-bottom:30px;width:100%}
.items{width:85% !important;/*float:left;*/margin-left:40px;margin-bottom:20px}
.items p{font-size:16px}
.price{width:80%;margin-left:40px;margin-bottom:30px;}
.whiteBg{background-color:#fff;position:relative}
.price img {float: left;margin: -10px 10px 0 0;}
.ribbon{position:absolute;top:-5px;right:-6px;height:90px;width:90px;background:url('../img/icons/ribbon.png') no-repeat 0 0;}
img.no-float{float:none}
.subtittle{margin:30px 0 0 0;font-size:16px;}
.subtittle b, .subtittle span{display:block;margin-left:70px}
.features h2{font-size:22px;line-height:30px!important;color:#333}
.features p{color:#333}
.aboutTxt p{padding:0 30px 15px 30px;font-size:16px}
.aboutTxt p:first-child{padding-top:30px}

.zahvat-title{color:#fff!important;font-size:40px!important;font-weight:200!important;line-height:30px;margin:35px 0}
.gray-title{color:#8B8989!important;text-align:center}
.gray-title span{font-size:25px}
.cnt-title, .boly-title, .good-title{}
.cnt-title{color:#B01C19!important;font-size:46px!important;line-height:30px;}
.boly-title{color:#ccc!important;font-size:46px!important;line-height:30px;}
.good-title{color:#BDBC2E!important;font-size:46px!important;line-height:30px;}
.left-title{margin:35px;font-weight:200!important}
#f-1{background:url('../img/icons/hand_pro.png') no-repeat 0 0;text-indent:42px;padding:0 0 5px 0;}
#f-2{background:url('../img/icons/home.png') no-repeat 0 0;text-indent:42px;padding:0 0 5px 0;}
#f-3{background:url('../img/icons/book.png') no-repeat 0 0;text-indent:42px;padding:0 0 5px 0;}
#f-4{background:url('../img/icons/clock.png') no-repeat 0 0;text-indent:42px;padding:0 0 5px 0;}
#f-5{background:url('../img/icons/pencil.png') no-repeat 0 0;text-indent:42px;padding:0 0 5px 0;}
#f-6{background:url('../img/icons/star_fav.png') no-repeat 0 0;text-indent:42px;padding:0 0 5px 0;}
.boly-items{height:48px;background:url('../img/icons/emotion_sad.png') no-repeat 30px 0;/*text-indent:60px;*/padding:1px 20px 0 100px;margin-bottom:30px}
.myWork-items{height:48px;background:url('../img/icons/emotion_smile.png') no-repeat 0 0;/*text-indent:60px;*/padding:1px 20px 0 70px;}
.flexsH2{margin-bottom:20px}
#demo .span4 > a{display:block;position:relative;}
#demo .span4 > a:hover:after{position:absolute;display:block;content: " ";left:50%;top:50%;margin:-32px 0 0 -32px;height:64px;width:64px;background:url('../img/icons/zoom_in.png') no-repeat 0 0;}

.boly-wrapper{width:48%}
#boly{width:100%;overflow:hidden;/*padding-bottom:40px*/}
#boly blockquote{line-height:18px;font-size:15px;font-family:;font-style:italic;color:#111;border:none!important;margin:50px 15px 40px 10px}
#boly span{font-size:16px;font-family:;color:#333;float:right;font-style:normal;font-weight:200;margin-right:20px}
.myWork-wrapper{width:48%}
.myWork-items{margin-left:30px;margin-bottom:30px}
.myWork-items p{color:#f4f4f4;margin-bottom:2px;}
.howWeDo{padding:0 30px;font-size:/*16px*/22px;color:#757575}
.howWeDo:last-child{padding-right:40px}
#last-item{margin-bottom:35px}.footer-cs{margin-top:40px;margin-bottom:40px}
.coffe{margin:30px 30px 30px 30px;font-weight:200;color:#fff}
.otziv{padding:0 30px 30px 0}
.contact{width:48%;margin-left:30px;padding:20px 0}
#contact-title{margin-left:0}form{margin:0!important}
#contact-form{display:inline}
input::-webkit-input-placeholder{color:#888;text-indent:5px}
input:-moz-placeholder{color:#888;text-indent:5px}
input:-ms-input-placeholder{color:#888;text-indent:5px}
textarea::-webkit-input-placeholder{color:#888}
textarea:-moz-placeholder{color:#888}
textarea:-ms-input-placeholder{color:#888}
#contact-form input[type='text'], input:focus:required:invalid:focus{background-color:#fff;border:0;border-radius:3px;text-indent:5px;color:#333}

.name{float:left;width:43%!important;margin-right:10px;height:35px!important}
.phone{width:44%!important;height:35px!important}
.time{width:91%!important;height:35px!important}

/*.ng-valid{background-color:#FF6347}*/
/*.ng-invalid{background-color:#9ACD32}*/
.ng-dirty.ng-invalid{
	background-color:#FF6347 !important;
	color:#000;
	-webkit-box-shadow:0 0 5px 3px #ff0000 inset;
	-moz-box-shadow:0 0 5px 3px #ff0000 inset;
	box-shadow:0 0 5px 3px #ff0000 inset;}
.ng-dirty.ng-invalid:focus{color:#333 !important;
	-webkit-box-shadow:0 0 5px 3px #ff0000 inset !important;
	-moz-box-shadow:0 0 5px 3px #ff0000 inset !important;
	box-shadow:0 0 5px 3px #ff0000 inset !important;}


#contact-form input[type='submit']{width:auto;height:45px;float:left;font-size:18px;border:0;border-radius:3px;background-color:#000;color:#f4f4f4;padding:0 20px}
#contact-form input[type='submit']:hover{color:#f4f4f4;background-color:#333}
#contact-form input[disabled]{color:#eee;background-color:#ccc}
#contact-form input[disabled]:hover{color:#eee;background-color:#ccc}
button{width:auto;height:45px;font-size:18px;border:0;border-radius:3px;background-color:#000;color:#f4f4f4;padding:0 20px;margin-bottom:30px}
button:hover{color:#f4f4f4;background-color:#333}

.success, .error{margin-left:15px;height:15px;margin-top:15px;padding:0 5px 5px 5px;color:#fff;float:left}
.success{background-color:#2B9925;}
.error{background-color:#FF0000;}
.subscribe{width:48%}
.sub-form{margin-top:30px}

.email-box{width:280px!important;height:41px!important;padding-bottom:0!important;font-family:;border:none!important;border-radius:0!important;font-size:16px;background-color:#fff!important;margin-bottom:0!important}
.submit-btn{width:100px;height:45px;font-size:16px;font-weight:500;border:0;background-color:#000;color:#f4f4f4}
.subscribe p{color:#333;font-size:22px;padding-right:20px}
.submit-btn:hover{color:#f4f4f4;background-color:#333}
.success-sub{margin-right:65px;height:15px;color:#00f814;display:none;float:right}
.subscription-box{margin-bottom:10px!important}

.static-slide{position:relative;width:100%;height:400px;display:none;margin-top:30px}
.static-slide .da-img{position:absolute;text-align:center;width:40%;top:40px;height:256px;line-height:320px;left:55%}
.static-slide h1{position:absolute;color:#B01C19;font-size:35px;width:50%;top:20px;left:20px;white-space:nowrap;z-index:10;text-shadow:1px 1px 1px rgba(0,0,0,0.1);font-weight:200}
.static-slide p{position:absolute;width:45%;top:90px;left:20px;color:#333;font-size:18px;line-height:26px;height:auto;overflow:hidden;font-style:italic;font-weight:400;font-style:italic}
.static-slide .gotarif{position:absolute;bottom:20px;left:20px;width:40%;min-width:180px}
.static-slide .zayavka{position:absolute;left:5px;bottom:75px;width:40%;min-width:180px}

p.copy{margin-top:15px}
p.copy a{color:#B01C19 !important}
p.copy a:hover{color:#}
/* Конфиденциальность */
.privacyContent ol, .publicationContent ul{margin-left:20px}
.privacyContent li{padding:5px}

@media screen and (max-width: 1680px) {
	.cnt-title{color:#B01C19!important;font-size:38px!important;line-height:38px;}
	.boly-title{color:#ccc!important;font-size:42px!important;line-height:30px;}
	.good-title{color:#BDBC2E!important;font-size:42px!important;line-height:30px;}
	.left-title{margin:25px;font-weight:200!important}
	h2.jornalTitle{font-weight:200;margin-bottom:10px; margin-left:0px;font-size:22px}

	}
	
@media screen and (max-width: 1366px) {

	}

@media(max-width:979px){
	.da-slide h1{font-size:42px}
	.features{width:100%}
	.contact{width:95%}
	/*#name{width:44%;margin-right:8px}
	#email{width:45%}*/
	.subscribe{width:90%;float:left;margin-left:30px;padding-bottom:30px}
	/*.es-nav span.es-nav-next,.es-nav span.es-nav-prev{background-size:28px;background-position:23px;width:70px;height:70px;background-color:#f4f4f4;border-radius:40px;z-index:2000}
	.es-nav span.es-nav-prev{background-position:18px}*/
	h2.jornalTitle{font-weight:200;margin-bottom:10px; margin-left:0px;font-size:20px}
	}
@media(max-width:747px){

	}
@media(max-width:640px){
	.da-slide h1{font-size:32px}
	#last-box{display:none}
	.boly-wrapper{width:100%}
	.myWork-wrapper{width:100%;margin-top:40px}
	.main-slider{display:none}
	.static-slide{display:block}
	.otziv{padding:0 20px 20px 20px}
	/*.es-nav span.es-nav-next,.es-nav span.es-nav-prev{background-size:28px;background-position:23px;width:70px;height:70px;background-color:#f4f4f4;border-radius:40px;z-index:2000}
	.es-nav span.es-nav-prev{background-position:18px}*/
	.static-slide p{position:absolute;width:45%;top:90px;left:20px;color:#333;font-size:15px;height:auto;overflow:hidden;font-style:italic;font-weight:400;font-style:italic}
	.static-slide .zayavka{position:absolute;left:5px;bottom:10px;width:40%;min-width:180px}
	.box-modal{width:300px}
	.static-slide{height:500px}
	.cnt-title, .boly-title, .good-title, .zahvat-title, header h1{font-size:28px !important}
	h2.coffe, h2.gray-title, .privacyContent h1, header h3{font-size:20px !important}
	.gray-title span{font-size:16px}
	.box-modal2{width:280px}
	}
@media(max-width:480px){
	/*.name{width:43%;margin-right:6px}
	#email{width:44%}*/
	.contact,.subscribe{margin-left:15px}
	.submit-btn{margin-top:10px}
	/*.es-nav span.es-nav-next{right:3px}
	.es-nav span.es-nav-prev{left:3px}*/
	.items{width:80%}
	}
@media(max-width:320px){
	/*.email-box{width:250px!important}
	#email{width:42%;}*/
	}